.react-grid-layout {
  width: 100%;
}

.react-grid-item {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
